@font-face {
    font-family: StarJedi;
    src: url(Starjedi.ttf)
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header{
    background-color: #000;
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0px;
}

header #titulo-header{
    font-family: Starjedi;
    font-size: 40px;
    text-transform: uppercase;
    color: #f7e817;
    text-align: center;
    display: block;
}

nav{
    background-color: #f7e817;
    padding: 10px 0px;
}

#menu{
    list-style: none;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
}

nav ul li a, nav ul li a:hover{
    color: #000;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
}

img{
    border-radius: 20px;
}

#comeco{
    margin-top: 120px;
}

p{
    font-size: 18px;
    color: #fff;
}

#imagem-topo{
    background-image: url("../img/starwarsposter.jpeg");
    min-height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -260px;
    background-attachment: fixed;
}

ul, li{
    list-style:inside;
    align-items: center;
}

button{
    color: #000;
    font-size: 10pt;
    font-weight: 700;
    text-align: center;
    width: 150px;
    height: 40px;
    background-color: #f7e817;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #ffffff;

}

.sith{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0px 0px 20px 2px rgb(255, 0, 0);
    margin: 40px 0px;
}

.sith:hover{
 
        box-shadow: 0px 0px 44px 12px rgb(255, 1, 1);
}

.jedi{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0px 0px 20px 2px rgb(0, 183, 255);
    margin: 40px 0px;
}

.jedi:hover{
 
    box-shadow: 0px 0px 44px 12px rgb(0, 183, 255);
}

.imagem-lado{
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.imagem-lado div{
    width: 50%;
}

.container{
    background-color: #464646;
    width: 100%;
}

h1, .texto{
    text-align: center;
    width: 70%;
}

footer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f7e817;
}

footer p{
    color: #000;
}

.formulario form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.input-padrao {
    margin: 0 0 20px;
    padding: 10px 25px;
    color: #000;
    font-size: 10pt;
    font-weight: 700;
    background-color: #a5a5a5;
    border-radius: 20px;
    border: none;
}


#botaoEnviar {
    color: #000;
    font-size: 10pt;
    font-weight: 700;
    margin-bottom: 10px;
    width: 150px;
    height: 40px;
    background-color: #f7e817;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    cursor: pointer;

}

#botaoEnviar:hover {
    background-color: #ffffff;
}
